*{
/* ***modo caja actaul*** */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	font-family: 'Shadows Into Light', Helvetica, Arial, sans-serif;
	font-weight: 200;
	/*color: #2A2429;*/
}

html{
	font-size: 62.5%;
}

html, body{
/* ***Establecer alto de la plantilla y reseteo de margen y padding*** */
	height: 100%;
	padding: 0;
	margin: 0;	
}

body{
	position: relative;
	font-size: 14px;
/*Renderizar tamano letra*/
	font-size: 1.4rem;
	
	/*background-color: #9DB465;*/	
}

.centrado{
/* ***Centrado de contenido a lo alto*** */
	position: relative;
	top: 50%;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#contenedor{
/* ***Ancho de plantilla*** */
	position: absolute;
	top: 0;
	bottom: 0;
	
	width: 100%;
}

#reclamo, #suscripcion{
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;	
}


/* ***Dividir plantilla en 2 areas*** */
#reclamo{
	top: 0;	
	background: url(../img/pattern.png) repeat center center, url(../img/Teclado.jpg) no-repeat center center fixed;
	background-size: auto, cover;	
}

#reclamo > h1{
	font-size: 40px;
	font-size: 4rem;
	font-style: bold;
	font-weight: 700;
	margin-bottom: 2px;
	color: #1100F1;
}

#reclamo > h2{
	font-size: 25px;
	font-size: 2.5rem;
	font-weight: 900;
	font-style: italic;
	color: #1C1200;
}

#suscripcion{
	top: 100%;
	background-color: #A5BDC1;
}

/* **************Logotipo************** */
#logo{
	margin-top: 5px;	
	text-align: center;

}

.app-separador{
	width: 300px;
	border-bottom: 4px solid #79EF0D;
	margin: 0px auto;	
}

/*#logo>img{
	width: 30%;
	max-width: 150px;
	height: auto;
	margin: 0;
}*/

/* ***** Mensaje de reclamo ***** */

#reclamo>section{
	position: absolute;
	left: 0;
	right: 0;
	
	width: 70%;	
	margin: 0 auto;
}

.frase{
	font-size: 60px;
	font-size: 6rem;
	text-align: center;

	color: #400000;
	
/* Animacion frases*/
	-webkit-animation: fade-in-out 15s infinite;
	-moz-animation: fade-in-out 15s infinite;
	-o-animation: fade-in-out 15s infinite;
	animation: fade-in-out 15s infinite;
}

#frase-1{
	opacity: 1;
	
	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	-o-animation-delay: 0;
	animation-delay: 0;
}

#frase-2{
	opacity: 0;
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}

#frase-3{
	opacity: 0;
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-o-animation-delay: 10s;
	animation-delay: 10s;
}

@-webkit-keyframes fade-in-out {
	0%, 33%, 100% { opacity: 0; }
	16% { opacity: 1; }
}

@-moz-keyframes fade-in-out {
	0%, 33%, 100% { opacity: 0; }
	16% { opacity: 1; }	
}

@-o-keyframes fade-in-out {
	0%, 33%, 100% { opacity: 0; }
	16% { opacity: 1; }
}

@-keyframes fade-in-out {
	0%, 33%, 100% { opacity: 0; }
	16% { opacity: 1; }
}
/* ***** Cierre mas informacion ***** */
#mas-info{
	position: absolute;
	bottom: 1px;
	width: 100%;
	
	text-align: center;
}

#mas-info > p {
	margin: 0;
	font-size: 20px;
	font-size: 2rem;
	font-weight: bold;
	
/* ***** animacion ***** */
	-webkit-animation: 	oscilar 3s 2s infinite ease-in-out;
  	-moz-animation:    	oscilar 3s 2s infinite ease-in-out;
  	-o-animation:      	oscilar 3s 2s infinite ease-in-out;
	animation: 			oscilar 3s 2s infinite ease-in-out;
}

#flecha{
	font-size: 50px;
	font-size: 5rem;
	
	text-decoration: none;
	color: #79EF0D;
}

@-webkit-keyframes oscilar {
	0%, 16%, 32%, 100%   { margin-bottom: 0; }
	8%, 24% { margin-bottom: 15px; }
}
@-moz-keyframes oscilar {
	0%, 20%, 40%, 100%   { margin-bottom: 0; }
	10%, 30% { margin-bottom: 15px; }
}
@-o-keyframes oscilar {
	0%, 20%, 40%, 100%   { margin-bottom: 0; }
	10%, 30% { margin-bottom: 15px; }
}

@keyframe oscilar {
	0%, 20%, 40%, 100%   { margin-bottom: 0; }
	10%, 30% { margin-bottom: 15px; }
}

/* ***** Redes Sociales ***** */
#social{
	width: 80%;
	margin: 40px auto 0;
	
	font-size: 20px;
	font-size: 2rem;
	text-align: center;
}

#agradecimientos{
	opacity: 0;
	
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-moz-transition: all 2s;
	transition: all 2s;
}

#agradecimientos.show-you{
	opacity: 1;
}


/* ***** Suscripcion ***** */
label{
	display: block;
	width: 90%;
	margin: 0 auto 10px;
	
	font-size: 24px;
	font-size: 2.4rem;
	text-align: center;
}

#mc_embed_signup{
	width: 90%;
	margin: 0 auto 10px;
	text-align: center;
}

#mce-EMAIL, #mc-embedded-subscribe{
	display: block;
	
	width: 80%;
	padding: 10px;
	border: 0;
	margin: 0 auto;
	
	color: #fff;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: 200;
}

#mce-EMAIL{
	margin-bottom: 10px;
	text-align: center;
	color: #2A2429; 
	
	background-color: #12A9B0;
}

#mc-embedded-subscribe{
	padding: 10px 20px;
	
	background-color: #002F43;
	border-radius: 5px;
}

/* ***** Media Queries ***** */
/*Reducir imagen
@media (max-height: 480px) and (orientation:landscape) {
			
	#logo > img {
		width: 10%;
	}
}*/


/*Tamaño formulario pantalla desktop y laptop*/
@media (min-width: 768px) {	
	
	#mce-EMAIL {
		width: 40%;
		margin-right: 2%;
	}
	
	#mce-EMAIL, #mc-embedded-subscribe{
		display: inline-block;
	}
	
	#mc-embedded-subscribe {
		width: auto;
		padding: 10px 20px;
	}
}
